* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    position: relative;
    bottom: 0;
    z-index: -1;
}

.footer .footer-row {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 40px 60px 30px 60px;
    background: #96B6C5;
    z-index: -1;
}

.footer-row .footer-col h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
    padding: 0;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: white;
}

.footer-col .links li a:hover {
    color: white;
}

.footer-col p {
    margin: 20px 0;
    color: white;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid white;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: white;
}

.footer-col form button {
    background: #fff;
    color: #84aec2;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    height: 40px;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #cecccc;
    color: #84aec2;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: white;
}

.footer-col .icons i:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}