* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position: relative;
    background-color: #fff;
}

.hero {
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 30px;
}

.pic {
    height: 480px;
    width: 500px;
    position: relative;
}

.pic img {
    width: 100%;
    height: 100%;
}

.ask {
    margin-top: 200px;
    font-size: 40px;
    font-weight: bold;
}

.heading {
    height: 50px;
    font-size: 30px;
    background-color: #FFF8C9;
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 30px;
    word-spacing: 2px;
    font-weight: 400;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.heading button {
    padding: 5px;
    background-color: #D0BFFF;
    color: white;
    width: 80px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading button:hover {
    background-color: rgb(146, 146, 202);
}

.typewritter {
    margin-left: 10px;
}

.main {
    height: 40vh;
    background-color: #D0BFFF;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    height: 70%;
    width: 90%;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(63, 62, 62);
}

.contact div {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.call,
.email,
.wp {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #D0BFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    box-shadow: 3px 3px 5px gray;
}

.contact i {
    font-size: 30px;
    color: white;
}

.wp i {
    font-size: 35px;
}

.contact i:hover {
    color: lavenderblush;
}

.faq-box {
    min-height: 40vh;
    background-color: #D0BFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}


.faq-item {
    width: 90%;
    background-color: #fff;
    padding: 15px;
    height: 75%;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 10px 10px 15px rgb(63, 62, 62);
}

.faq-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1.5px solid gray;
    
}

.faq-a.active {
    border-bottom: 1.5px solid rgb(38, 38, 110);
    /* margin-top: 5px; */
}

.faq-a {
    padding: 10px;
    display: none;
    color: rgb(38, 38, 110);
    font-size: 20px;
}

.invisible{
    height: 30px;
}

@media  (width:1920px) {
    .hero{
        height: 50vh;
    }
    .faq-box{
        min-height: 35vh;
    }
    .faq-q {
        min-height: 60px;
    }
}