/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.regForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.containerReg {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 35px;
  padding-right: 45px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.containerReg .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.containerReg .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.containerReg .content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.containerReg form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.containerReg form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.containerReg .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.containerReg .user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.containerReg form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.containerReg form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.containerReg form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

.containerReg form .button {
  height: 45px;
  margin: 35px 0
}

.containerReg form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.containerReg form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
  .container {
      max-width: 100%;
  }

  form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
  }

  form .category {
      width: 100%;
  }

  .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
      width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
      flex-direction: column;
  }
}

.containerReg .back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: linear-gradient(135deg, #2574a9, #7f379c);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.containerReg .back-button:hover {
  background: linear-gradient(-135deg, #2574a9, #7f379c);
}

.containerReg .error {
  color: red;
  margin-top: 3px;
  /* Add space between error messages */
  text-align: center;
}

.containerReg .success {
  color: green;
  margin-top: 10px;
  /* Add space between success message and error messages */
  text-align: center;
}

.containerReg .content .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.containerReg .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.containerReg .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.containerReg .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.containerReg .user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.containerReg .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.containerReg .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.containerReg .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

.containerReg .button {
  /* height: 45px; */
  margin: 35px 0
}

.containerReg .button button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.containerReg .button button:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
  .container {
      max-width: 100%;
  }

  .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
  }

  .category {
      width: 100%;
  }

  .content .user-details {
      max-height: 300px;
      overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
      width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
      flex-direction: column;
  }
}